.ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    color: white;
    text-align: center;
}
.img {
    margin-bottom: 8px;
}
.small {
    font-size: 12px;
}