.container {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.select {
    padding: 0 48px 0 0;
    cursor: pointer;
}
.flags {
    display: flex;
}
.flags img {
    margin: 0px 4px;
    height: 20px;
}
.flags img:hover {
    cursor: pointer;
}