.btn {
    padding: 6px 12px;
    background-color: #2c93e3;
    border: 1px solid #0076a3;   
    border-radius: 8px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.grey {
    background-color: #eee;
}
